body {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  margin-right: 513px;
  font-family: 'Aldrich', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: #242635;
}

.link__list {
  display: flex;
  flex-direction: row; 
}

.link {
  list-style-type: none;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #242635;
}

.link:hover{
  opacity:0.5;
}

a {
  text-decoration: none;
}

.link__list__tablet {
  display: none;
}

.link__list__mobile {
  display: none;
}

.main__section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102px;
  letter-spacing: -2px;
  color: #242635;
  margin-top: 139px;
  margin-bottom: 30px;
}

.text {
  width: 100%;
  max-width: 574px;
  text-align: center;
  margin-bottom: 47px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #242635;
  margin-bottom: 47px;
}

.main__image {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  
  .logo {
    margin-right: 224px;
    font-family: 'Baloo 2', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
  }

  .link__list {
    display: none;
  }

  .link__list__tablet {
    display: flex;
    flex-direction: row; 
  }

  .title {
    margin-top: 226px;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 83px;
    letter-spacing: -1.6px;
  }

  .main__image {
    justify-content: center;
  }

}

@media screen and (max-width: 700px) {
  
  .nav {
    width: 100%;
    display: flex;
  }

  .link__list {
    display: none;
  }

  .link__list__tablet {
    display: none;
  }

  .logo {
    margin-right: 144px;
    font-family: 'Baloo 2', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
  }

  .link__list__mobile {
    display: flex;
    font-family: 'Baloo 2', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    list-style-type: none;
  }

  .mobile__link:hover {
    opacity:0.5;
  }

  .title {
    margin-top: 64px;
    margin-bottom: 27px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.8px;
    margin-bottom: 22px;
  }

  .text {
    width: 100%;
    max-width: 217px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 57px;
  }

  .main__image {
    display: flex;
    justify-content: center;
    max-width: 256px;
    width: 100%;
  }
}